            .ship2myid-content{
                padding: 10px;
				font: 400 14px/1.42857 "Open Sans",Helvetica,Arial,sans-serif;
            }
            .config-header{
                width: 100%;
                padding-bottom: 14px;
                height: 92px;
            }
            .ship2myid-logo{
                float: left;
                text-align: left;
                margin: 0px 17px 5px 3px;
                width: 20%;
            }
            .ship2myid-logo strong{
                font-size: 13px;
            }
            .ship2myid-tagline{
                float: left;
                width: 78%;
            }
			.ship2myid-tagline strong{
				font-size:16px;
            }
			
            .ship2myid-tagline div{
                text-align: center;
                margin: 20px 0px 5px 0px;
            }
            .gray{
                background-color: #f2f2f2;
            }
            .dark-gray{
                background-color: #d9d9d9;
            }

            .config-middle-left{
                width: 42%;
                padding: 10px;
                float: left;
				height: 98%;
            }
            .config-middle-right{
                width: 57%;
                margin-left: 10px;
                float: left;
                padding: 5px;
                text-align: center;
            }
            .config-middle-right span{
                font-size: 17px;
            }
            .lign-height{
                line-height:1.85em;
            }
            .config-middle-bottom{
  width: 100%;
  height: 327px;                
            }
            .mark-image{
  padding-left: 10px;
  width: 30%%;
  float: left;                
            }
            .mark-title{
                width:100%;
                padding-left: 70px;
                padding-bottom: 4px;                
            }
            .mark-title b{
                  color: #49bf3d;
            }
            .config-middle{
                height: 325px;
                width: 100%;
            }
            .config-bottom{
                width: 100%;
				  height: 100px;
            }